main {
    display: grid;
    height: 1000px;
    max-width: 900px;
    margin: auto;
    background: lightgrey;
    grid-template-columns: 150px 1fr 100px;
}

.nav {
    background: lightgreen;
    display:grid;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    height: 370px;
}


/* *{
    border: 1px solid black;
} */

main {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid black;
    height: 400px;
    background-color: pink;
}

.content {
    background:pink;
    display: grid;
    grid-template-rows: 50px 1fr;
    border: 3px, solid, black;
}

header {
    background: yellow;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid black; */
    height:350px;
}

.location-list {
    background-color: lightblue;
} 

.community {
}

.left-section * {
    border: 1px solid black;
    height: 95px;
    margin: 5px;
    padding:5px;
    background-color:yellow;
}

.middle-section * {
    border: 1px solid black;
    height: 150px;
    margin: 5px 0px;
    padding:5px;
    background-color:yellow;
}

.right-section * {
    border: 1px solid black;
    margin: 5px;
    padding:5px;
    background-color:yellow;
}

.job {
    height:250px;
}

.gig {
    height: 50px;
}

.location-list {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    height: 370px;
}